.purge_varnish
{
  width: 90%;
  padding-left: 2px;
}
.purge_varnish table
{
  width: 80%;
}
.purge_varnish .screen
{
  background-color: #fff;
  padding-bottom: 30px;
}
.purge_varnish h2
{
  background-image: url("../images/purge16x16.png");
  background-position: left 8px center;
  background-repeat: no-repeat;
  margin: 15px 0 0;
  padding: 9px 0 9px 30px;
}
.purge_varnish .screen .desc
{
  padding-left: 23px; 
  color: #777;
}

.terminal_desc
{
  padding-top: 3px; 
  color: #777;
}

.purge_varnish table th{
  text-align: right;
  padding-right: 20px;
}
.purge_varnish table td{
  text-align: left;
  padding-right: 20px;
}

.purge_varnish input[type=text], .purge_varnish select {
  width: 350px;
  border: 1px solid #0073AA;
  border-left: 4px solid #1d8ccc;
}

.purge_varnish input[type=checkbox]{
  border: 1px solid #0073AA;
  border-left: 4px solid #1d8ccc;
}

.purge_varnish code
{
  border-left: 4px solid #1d8ccc;
  padding: 4px;
  font-size: 14px;
}
.purge_varnish input[type=submit] {
    -moz-user-select: none;
    background-color: #1d8ccc;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    color: #FFF;
    text-align: center;
    transition-duration: 0.3s;
    transition-property: background, border-color;
    transition-timing-function: ease-in;
}
ul.tab {
  border-left: 5px solid #fff;
  border-right: 5px solid #fff; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: none;
  background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
  float: left;
  border-right: #eee;
}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  border-style:none!important;;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tablinks{
  font-weight: bold; 
  font-size: 20px;
}
#wpbody-content dd, li {
    margin-bottom: 0px;
}
.hide_custom_url {display: none;}
.show_custom_url {display: block;}