#my-calendar legend {
    font-weight: 700;
    font-size: 1em
}

#my-calendar #wp-content-editor-tools {
	background: #fff;
}

.mcbuy {
    font-size: 1.1em;
    line-height: 1.5
}

.mcd {
    text-align: center;
    margin: 0;
}

#cat_icon option {
    padding: 5px 0 5px 24px
}

#my-calendar-admin-table .delete {
    color: #c00
}

.import {
    background: #ffa;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 15px 0
}

.n4 {
    width: 42px
}

.category-color {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #000
}

.active-link {
    font-weight: 700;
    text-decoration: underline
}

ul.links li {
    float: left;
    margin: 0 5px 10px;
    font-size: .9em
}

.my-calendar-admin .metabox-holder .postbox > h2 {
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
}

#my-calendar-admin-table {
	margin-bottom: 1em;
}

#toggle {
    height: 2em
}

#toggle li {
    float: left;
    margin-right: 5px
}

span.mc-notice {
	padding: 3px;
	background: #ffc;
	font-weight: 700;
	border: 1px solid #900;
}

.my-calendar-admin .spam {
    background: #ffa
}

.my-calendar-admin .pending {
    background: #eee
}

.my-calendar-admin .pending td, .my-calendar-admin .row-actions {
    color: #666;
}

.my-calendar-admin fieldset fieldset {
    margin: 0 0 20px 0;
    padding-top: 2px
}

#mceditor {
    border: 1px solid #ddd;
    margin: 0 0 5px
}

.mc_template_tags dt {
    font-weight: 700
}

.mc_template_tags dd {
    margin-left: 0;
    padding: 2px 1px
}

.mc_template_tags {
    clear: right
}

.clonedInput {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd
}

#my-calendar .apply {
    padding: 1px 5px 0;
    margin: 0 -5px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #aaa;
    background: #ffd
}

#my-calendar .apply legend {
    background: #ffd;
    padding: 2px 0
}

#my-calendar .apply .warning {
    background: #ffe;
    color: #a00;
    padding: 3px;
    border: 1px solid #333
}

#my-calendar .break ul {
    padding: 10px 10px 0;
    margin-right: 180px
}

#my-calendar .two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px
}

.my-calendar-admin .event_image {
    float: right;
    margin-left: 10px;
}

.my-calendar-admin .event_image img {
    width: 150px;
    height: auto;
    margin: 2px 0;
    border-radius: 3px;
}

.mc_support {
    font-family: 'Courier New';
    background: #fff;
    padding: 5px
}

.template-editor, .style-editor {
    width: 98%
}

.my-calendar-admin .postbox {
    margin: 10px 10px 0 0
}

.my-calendar-admin .postbox.wptab {
	margin: 0 10px 0 0!important;
	border: 1px solid #e5e5e5;
}

.my-calendar-admin .postbox .inside {
    overflow: visible !important
}



/* some plugins change this, but I need it at WP default. */
.my-calendar-admin .meta-box-sortables {
    min-height: 0
}

.my-calendar-admin textarea {
    width: 100%
}

.my-calendar-admin pre {
    background: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ddd
}

.my-calendar-admin label span.required {
    font-size: .9em;
    color: #c33
}

.my-calendar-admin .default {
    background: #fff
}

.my-calendar-admin .button-adjust {
    top: 10px;
    right: 0
}

.my-calendar-admin hr {
    width: 20%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #ccc
}

#mc-shortcodes li code {
    font-size: 1.4em;
    line-height: 1.5;
    display: inline-block
}

.my-calendar-admin .tablenav {
    float: right
}

input[id=e_label], input[id=e_title], input[id=location_label], textarea[id=mc_twitter] {
    font-size: 1.4em;
    padding: 9px;
    width: 100%;
	margin-bottom: .5em;
}

label[for=mc_twitter] {
    background: url(../images/twitter.png) left 50% no-repeat;
    padding-left: 20px;
}

strong.label {
    font-weight: 400;
}

#my-calendar-text label {
    display: inline-block;
    width: 12em;
}

.wp-picker-container {
    position: relative;
    top: .7em;
}

.wp-picker-holder {
	position: absolute;
	z-index: 10;
}

.my-calendar-admin .counter {
    padding-right: 6px;
    border-right: 16px solid green;
    border-radius: 20px;
}

.my-calendar-admin .counter.warning {
    border-color: orange;
}

.my-calendar-admin .counter.exceeded {
    border-color: red;
}

.mc-categories th:nth-of-type(5), .mc-categories th:nth-of-type(6), .mc-categories th:nth-of-type(7) {
    width: 50px;
}

.jcd-wide {
    width: 75%;
}

.jcd-narrow {
    width: 20%;
}

.mc-tabs .tabs {
    margin: 0 !important;
    padding: 0 4px;
    position: relative;
    top: 1px;
}

.mc-tabs .tabs li {
    display: inline;
    margin: 0 auto;
    line-height: 1;
	float: none;
}

.mc-tabs .tabs a {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    background: #f3f3f3;
}

.mc-tabs.settings .tabs a {
	padding: 8px;
	font-size: 1.2em;
}

.mc-tabs .tabs a.active {
    border-bottom: 1px solid #fefefe;
    background: #fefefe;
	text-decoration: none;
	cursor: text;
}

.mc-tabs .wptab {
    background: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.js .wptab:not( :first-child ) {
	display: none;
}

.my-calendar-admin .ui-accordion-header, .mc-settings-page #mc-sortable li {
    border: 1px solid #ddd;
    background: rgba(0, 0, 0, .10);
    padding: .5em 1em;
    margin: 1px 0;
}

.mc-settings-page #mc-sortable .mc-updated {
	background-color: #ffa;
}

#mc-sortable .mc-buttons {
	display: inline-block;
	width: 7em;
}

#mc-sortable li:nth-of-type(1) .mc-buttons .up, #mc-sortable li:nth-of-type(9) .mc-buttons .down {
	background: none;
	border: 1px solid transparent;
	color: rgba( 0,0,0,.4 );
}

.my-calendar-admin .ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-focus, .mc-settings-page #mc-sortable li:hover {
    background: #f6f6f6;
    box-shadow: 0 0 2px #ddd;
}

#mc-sortable li {
    cursor: move;
}

input[name="mc_uri"] {
	width: 100%;
	padding: 5px;
	font-size: 1.4em;
}

#mc-generator .custom {
	background: #f6f6f6;
	padding: 1em;
}

.my-calendar-admin .ui-accordion-header-active {
    background: rgba(0, 0, 0, .05);
}

.my-calendar-admin .ui-accordion-header .dashicons:before {
	content: "\f132";
}

.my-calendar-admin .ui-accordion-header-active .dashicons:before {
	content: "\f460";
}

#mc-sortable .mc-calendar {
    background-color: #ffa!important;
    border: 1px solid #cc8;
}

#mc-sortable li.mc-stop {
    border-radius: none;
	background-color: #222;
	color: #eee;
}

#mc-sortable li.mc-stop.mc-updated {
	color: #000;
}

#mc-sortable li.mc-stop:hover {
	background-color: #000;
	color: #bbb;
}

#mc-sortable div.dashicons {
    vertical-align: middle;
    height: 1em;
}

#mc-sortable code {
    display: inline-block;
    width: 5em;
    text-align: center;
}

.my-calendar-admin .checkboxes {
    margin: 0;
}
.my-calendar-admin .checkboxes:after {
    content: '';
    display: table;
    clear: both;
    margin-bottom: 1em;
}

.mc_permissions {
	float: left;
	width: 33%;
	margin-bottom: 1em;
}

.my-calendar-admin .mc_permissions .checkboxes li {
	display: block;
}

.mc_permissions fieldset {
	padding: 1em;
}

.my-calendar-admin .checkboxes li {
    display: inline-block;
    padding: 5px;
    background: rgba(0, 0, 0, .05);
    margin: 2px;
}

.my-calendar-admin .checkboxes li:hover {
    background: #fff;
}

.mc-actions {
    float: left;
    vertical-align: middle;
    height: 30px;
    margin: 6px 0 4px;
    clear: left;
}

.my-calendar-admin fieldset legend {
    font-weight: 700;
    padding: 0;
    font-size: 1.1em;
}

.generator fieldset {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.generator label {
    display: block;
    float: left;
    width: 30%;
    margin-right: 10px;
}

.generator td input[type=text] {
    width: 100%;
}

.generator td label {
    float: none;
    width: auto;
    display: inline;
}

.generator .help, .generator .clear {
    clear: left;
}

.generator input {
    line-height: normal;
}

.generator input[type=text], .generator select {
    width: 60%;
}

.req {
    color: red;
}

.mc-controls {
	font-weight: 700;
	text-align: right;
	margin: -3em 0 0;
}

.mc-locations label {
    display: block;
}

.mc-locations .checkboxes label, .checkbox label {
    display: inline;
}

.locations-container {
    position: relative;
}

.mc-locations .location-primary {
    width: 47%;
    margin-right: 20px;
}

.mc-locations:after {
    content: ' ';
    display: table;
    clear: both;
}

.mc-locations .location-secondary {
    position: absolute;
    left: 50%;
    top: 0;
    width: 47%;
}

.mc-locations .locations-container input {
    max-width: 90%;
}

.mc_recur_notice {
	padding: 5px 10px;
	background: #ffc;
	color: #000;
}

.mc-search {
    float: right;
}

.mc-admin-footer .mc-search {
	float: none;
}

.mc_add_new {
	position: relative;
	z-index: 200;
	padding: 1em;
	background: #fff;
	box-shadow: 0 0 3px #777;
}

.mc_add_new .clonedInput {
	border-bottom: none;
	margin-bottom: 0;
}

.mc-twitter {
	padding: .5em 1em;
	background: #213e7f;
	color: #fff;
	font-size: 1.1em;
}

.add-occurrence .dashicons:before {
	content: "\f132";
}

.my-calendar-admin .postbox .hndle {
	cursor: auto;
}

.save-occurrence {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

.add-occurrence[aria-expanded^="true"] .dashicons:before {
	content: "\f460";
}

.template-description {
	font-weight: 700;
	font-size: 1.1em;
}

.postbox.sell {
	background: #fff;
	color: #000;
}

.sales {
	background: #e25822;
	color: #fff; 
	text-shadow: 1px 0 0 #000;
}

.my-calendar-admin .error .button-secondary {
	vertical-align: baseline;
}

.mc_response {
	padding: .25em;
	background: #ffa;
	color: #000;
}

tr.problem {
	background-color: #ffa;
}

tr.problem .error {
	color: #a00;
}

.problem-icon {
	font-size: 64px;
	float: left; 
	margin-right: .25em;
	height: 64px;
	width: 64px;
	display: block;
}

.event_time_label {
	display: inline-block;
	padding: .25em;
	background: #ffc;
}

#my-calendar .inside div iframe {
	float: none; 
}

.mc-support-me p {
    font-size: 1.6em;
    font-weight: 600;
    background: #007eb3;
    text-shadow: 1px 1px rgb( 35, 60, 127 );
    padding: 1em;
    text-align: center;
    margin: 0 0 1em;
}

.mc-support-me p, .mc-support-me a {
    color: #f3f3f3;
}

.wrap ul.list {
	list-style-type: disc;
	margin-left: 1.5em;
}

.mc-support-me a:hover, .mc-support-me a:focus {
    text-decoration: none !important;
	color: #fff !important;
}

.my-calendar-admin .mc-none {
	clear: both;
}

.event-actions {
	clear: both;
}

@media (max-width: 1140px) {
    .mc-locations .locations-container input {
        max-width: 70%;
    }
}

@media (max-width: 782px) {
    .my-calendar-admin .tablenav {
        float: none;
    }
	
	.mc_permissions {
		width: 50%;
	}

    .jcd-narrow {
        width: 100%;
    }

    .jcd-wide {
        width: 100%;
    }
}