
.use-theme-options {
  text-align: center;
  border-bottom: solid 1px #eee;
}
.use-theme-options a {
  display: block;
  padding: 9px 0;
  color: white;
  background: #43b3c4;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.use-theme-options a:link, .use-theme-options a:visited, .use-theme-options a:hover, .use-theme-options a:active, .use-theme-options a:focus {
  color: white;
}
.use-theme-options a:hover, .use-theme-options a:active, .use-theme-options a:focus {
  background: #3ea5b3;
	text-decoration: underline !important;
}
.use-theme-options a:hover span, .use-theme-options a:active span, .use-theme-options a:focus span {
  right: -3px;
}
.use-theme-options span {
  position: relative;
  right: 0;
  -webkit-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
